{% extends 'pages/base.html' %}

{% block content %}
{% load static %}

<div class="page-wrapper">
    <div class="success-card">
        <div class="checkmark"></div>
        <h1 class="title">Order Confirmed Successfully!</h1>
        <p class="subtitle">
            Thank you for your request. We will contact you soon.
        </p>
        <a href="{% url 'index' %}" class="btn-home">Back to Home</a>
        <a href="{% url 'my_orders' %}" class="btn-track">Track Order</a>
    </div>
</div>
<audio id="order-audio" hidden autoplay>
  <source src="{% static 'sounds/ch.m4a' %}" type="audio/mp4">
</audio>

<script>
  window.addEventListener("load", function () {
    const audio = document.getElementById("order-audio");
    const playPromise = audio.play();

    if (playPromise !== undefined) {
      playPromise.catch((error) => {
        console.log("Autoplay blocked. Waiting for click...");
        document.body.addEventListener("click", function () {
          audio.play();
        }, { once: true });
      });
    }
  });
</script>
{% endblock %}
